# Environments
venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data (IMPORTANTE en tu caso con Kaggle)
data/
datasets/
*.csv
*.parquet

# Kaggle cache / downloads
.kaggle/
kaggle.json

# Modelos pesados (transformers / ML)
*.bin
*.pt
*.pth
*.model
models/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/