# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
# virtual environment
venv/
.venv/

# PyTorch / ML artifacts
*.bin
*.pt
*.pth
*.dylib

# virtual environments
venv/
env/
.venv/

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/
*.ipynb

# =========================
# Environment variables
# =========================
.env

# =========================
# ML / Model artifacts
# =========================
models/
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

# HuggingFace cache
.cache/
huggingface/

# =========================
# Data (Kaggle / datasets)
# =========================
data/
datasets/
*.csv
*.parquet

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Git large files
# =========================
*.zip
*.tar
*.gz