# =========================
# Python & Environment
# =========================
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/
.env
.venv/

# =========================
# IDEs & OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# ML / Model Artifacts (PESADOS)
# =========================
# Ignoramos las carpetas con los pesos del modelo
model_output/
final_model/
checkpoint-*/
runs/

# Ignoramos archivos de modelos sueltos
*.bin
*.pt
*.pth
*.ckpt
*.safetensors
*.joblib

# HuggingFace cache
.cache/
huggingface/
fin_sentiment_model/
# =========================
# Data & Datasets
# =========================
# Ignoramos el CSV de Kaggle 
data.csv
data/
datasets/
.kaggle/
*.zip
*.tar
*.gz
audit_api.py
test_api.py
